{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />

    <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />

    <!-- Custom CSS for Admin Dashboard -->
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">

    <title>Hello, world!</title>
  </head>
  <body class="d-flex vw-100 vh-100 align-items-center justify-content-center">
    
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">Product</label>
        {% render_field form.product class="form-control" value=order.Product.product.product_name %}
        <label for="">User</label>
        {% render_field form.user class="form-control" value=order.user.username %}
        <label for="">Status</label>
        {% render_field form.status class="form-control" id="id_status" value=order.status %}
        <label for="">Quantity</label>
        {% render_field form.quantity class="form-control" value=order.Product.quantity %}
        <label for="">Expected Delivery Date</label>
        {% render_field form.expected_delivery_date class="form-control" type="date" id="id_expected_delivery_date" %}

        
        
        <button type="submit" class="btn btn-primary mt-3">Update</button>
        <a class=" btn bg-danger mt-3" href="{% url 'admin_order_list' %}"> Cancel</a>
    </form>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS for Admin Dashboard -->
    <script src="{% static 'js/admin.js' %}"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <!-- https://cdnjs.com/libraries/popper.js/2.5.4 -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"
    ></script> -->

    <!-- More: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
  </body>
</html>
